*{
    margin: 0px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    color: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    background-color: black;
}

.dot{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}

.line{
    width: 50px;
    height: 130px;
    transform: rotate(30deg);
    background-color: white;
    border-radius: 50px 50px 50px 50px;
    margin-left: 10px;
}